body{
	background-color:yellowgreen;

 }

#cachorro {
	width: 6em;
	margin-top: 400px;
	margin-left: 100px;
	border: 2px solid black;
}

#casa {
	width: 6em;
	position: absolute;
	top: 250px;
	left: 1000px;
	border: 2px solid ;
	padding: 5px;
}

#campo {
	width: 6em;
	display: block;
	margin-top: 4em;
	margin-left: 45%;
}